body {
    background-image: url('https://img.freepik.com/free-photo/beautiful-shining-stars-night-sky_181624-622.jpg?t=st=1745713915~exp=1745717515~hmac=2d86c65e5e30b512025217aca9abe2fdf2d4b0eb571b89dfc582d73a91a4d4d6&w=1380');
    font-family: 'Iceland', sans-serif;
    margin: auto;
    max-width: 70ch;
    color: #d5daec;
  }
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap')
